<ion-content class="bg">
    <ion-img src="../../../assets/img/fondo_permisos.jpg" style="margin: 2.5rem 1.5rem 0 1.5rem;"></ion-img>
    <ion-item lines="none" style="text-align: center;">
        <ion-label color="light" class="ion-text-wrap" style="font-size: 10pt;">
            Para sacar el máximo provecho y darte el mejor servicio, por favor otorga los siguientes permisos
        </ion-label>
    </ion-item>
    <div class="foot">
        <ion-button *ngIf="!fcmPermission" (click)="activaFCM()" expand="block" shape="round" class="boton-margen primario" style="--background: white; margin-bottom: 1rem;">
            Activar notificaciones
        </ion-button>
        <ion-button *ngIf="!gpsActivated" (click)="requestHighAccuracyLocation()" expand="block" shape="round" class="boton-margen primario" style="--background: white; margin-bottom: 1rem;">
            Encender el GPS
        </ion-button>
        <ion-button *ngIf="!gpsPermission" (click)="requestLocationAuthorization()" expand="block" shape="round" class="boton-margen primario ion-text-wrap" style="--background: white">
            Dale acceso a tu ubicación a Spot Entregas
        </ion-button>
    </div>
</ion-content>