<ion-header *ngIf="hasPermission">
    <ion-toolbar color="primary">
        <ion-title>
            {{nombre | titlecase}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ng-container *ngIf="hasPermission; else permissionTemplate">
        <ion-list>
            <ion-card *ngFor="let item of pedidos">
                <ion-list-header>
                    <ion-label color="primary">{{item.cliente.nombre}}</ion-label>
                </ion-list-header>
                <ion-item lines="none" detail (click)="verPedido(item)">
                    <ion-label class="ion-text-wrap" color="medium">{{item.cliente.direccion.direccion}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-button slot="start" (click)="verMapa(item.cliente)" fill="clear">
                        Ver mapa
                    </ion-button>
                    <ng-container *ngIf="item.unRead > 0; else chatTemplate">
                        <ion-button slot="end" (click)="verChat(item.cliente.uid, item.id, item.cliente.nombre)">
                            Chat {{item.unRead}}
                        </ion-button>
                    </ng-container>
                    <ng-template #chatTemplate>
                        <ion-button slot="end" (click)="verChat(item.cliente.uid, item.id, item.cliente.nombre)" fill="outline">
                            Chat
                        </ion-button>
                    </ng-template>
                    <ion-button *ngIf="item.cliente.telefono" slot="end" (click)="llamar(item.cliente.telefono)" fill="outline">
                        Llamar
                    </ion-button>
                </ion-item>
            </ion-card>
        </ion-list>
    </ng-container>
    <ng-template #permissionTemplate>
        <ion-button (click)="activaPermisos()" expand="block" fill="clear" shape="round">
            Activar notificaciones
        </ion-button>
    </ng-template>
</ion-content>